#chose_player1, #chose_player2 {
    height: 100px
}

#chose_player1:hover {
    background-color: #7cbc86;
    opacity: 0.5;
    align-content: center;
}

#chose_player2 {
    background-color: #aebabc;
    opacity: 0.5;
    align-content: center;
}