#choose_player1, #choose_player2 {
    height: 100px
}

#choose_player1:hover {
    background: transparent;
    opacity: 0.5;
    align-content: center;
}

#choose_player2 {
    background-color: #aebabc;
    opacity: 0.5;
    align-content: center;
}